.paragraph {
  font-size: 50px;
  line-height: 62px;
  font-family: 'Kalam';
}
body {
}

#block {
  border-width:  2px;
  border-color:  #4682B4;
  background-color:  #E0FFFF;
  width:  200px;
  text-align: center
