.alignright{
    float:right;
}

.alignleft{
    float:left;
}

p {
    text-align:left;
}
p2 {
   margin-left: 400px;
}



a {
    color: white;
    text-decoration: none;
     font-size: 100px;
}
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

.header {
  overflow: hidden;
  background-color: #ba0000;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #333333;
  color: white;
}

.header a.active {
  background-color: #333333;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.twitter {
  background: #ba0000;
  color: white;
}

.youtube {
  background: #ba0000;
  color: white;
}
.instagram {
  background: #ba0000;
  color: white;
}
